
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.lato-thin-font {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* shated style */
  .btn-primary{
    background-color: #E55473;
    font-weight:700;
    font-size: 1.25rem;
    color: white;
    padding: 20px 40px;
    border-radius: 18px;
    border: none;
  }

  .banner{
    background-color: rgba(229, 84, 115, 0.1);
  }

  /* bneer related style */
  
  .banner-title{
    font-weight: 900;
    font-size: 5rem;
    color: #272727;
    margin-bottom: 40px;
    max-width: 700px;
  }
  .banner-description{
    font-weight: 400;
    font-size: 1rem;
    color: #272727;
    max-width: 630px;
    margin-bottom: 30px;
  }
  .fixed{
    max-width: 1500px;
    margin: 0 auto;
  }
  .container{
    display: flex;
    gap: 70px;  
  }
  .banner-container{
    max-width: 708px;
    height: 506px;
    margin-top: 50px;
  }
  /* first section of main */
 

  .feature-title{
    font-weight: 900;
    font-size: 2.5rem;
    color: #272727;
    text-align: center;
    margin-bottom: 0;
  }
  .feature-description{
    font-weight: 400;
    font-size: 1rem;
    color: #272727;
    text-align: center;
  }
  .image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .img-div{
    max-width: 464px;
    height: 538px;

  }
  .first-image{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 500px 500px 0 0;
}
.second-image{
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 500px 500px 0 0;
}
.third-image{
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 500px 500px 0 0; 
}
.image-one{
    max-width: 314px;
    padding: 150px 75px 0 75px;
}
.image-two{
    max-width: 314px;
    padding: 110px 75px 0 75px;
}
.image-three{
    max-width: 314px;
    padding: 65px 75px 0 75px;
}
.image-description{
    margin-top: 32px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #272727;
    text-decoration: underline;
    text-align: center;
}

/* second-section of main */
.second-section{
    background-color: rgba(39, 39, 39, 0.05);
}

.logo-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 80px;
    margin: 86px 175px;
}

.logo{
    max-width: 88px;
    height: 88px;
    padding: 0 80px;
}
.logo-description{
    font-weight: 600;
    font-size: 1rem;
    color: #272727;
}









  /* resposnive for mobile */
  @media screen and (max-width: 575px) {
    .fixed{
      margin: 0;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    img{
        width: 100%;
      
    }
    .image-one,
    .image-two,
    .image-three{
      padding: 0;
      padding-top: 50px;
    }
    .img-div{
      height: 100%;
    }
    .image-description{
      margin-left: 100px;
    }

    .banner-container{
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    .banner-title{
        width: 100%;
        height: 100%;
        font-size: 3rem;
    }

    .banner-description{
      font-size: 1.5rem;
    }
    /* first section of main */
    .image-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
        margin-left: 10px;
      }

      .image-description{
        margin-left: -80px;
      }
      .logo-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-left: 0px;
        gap: 20px;
      
    }
   .logo-description{
    font-size: 1rem;
    margin-left: -50px;

   }
   .logo{
    margin-left: -50px;
   }
    
  }


  /* check */
  